<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Angular Editor</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="css/editor/styles.css"/>
    <link rel="stylesheet" href="stylus/final.css"/>
</head>
<body>

    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Title</a>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
    </div>-->
    <div class="container-fluid main-container" data-ng-controller="MainController" container>
        <!--<div ng-repeat="node in nodes" ng-switch="node.name">
            <div ng-switch-when="Box" class="box"></div>
            <a href="" ng-switch-when="Link">Link</a>
            <input type="text" class="input-medium" ng-switch-when="Input">
            <ul ng-switch-when="List">
                <li>List Item</li>
            </ul>
            <button class="btn btn-inverse" ng-switch-when="Button">Button</button>
            <img width="200" height="200" ng-src="" ng-switch-when="Image">
        </div>-->


    </div>

    <div class="css-overlay" data-ng-controller="OverlayController">
        <!--<div class="css-overlay" option-menu="options" selected-option="state.selectedOption">

        </div>-->

        <div drag class=" vertical-center-parent">
            <select class="vertical-center" ng-options="opt for opt in options" ng-model="state.selectedOption">

            </select>
            <button ng-click="onAdd()" class="btn btn-primary vertical-center">Add</button>
            <div class="vertical-center" style="height: 100px;display: inline-block;width: 1px;"></div>
        </div>
    </div>


    <script type="text/javascript" src="js/lib/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui-1.10.3.custom.js"></script>
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/app/app.js"></script>
    <script type="text/javascript" src="js/app/shared/shared.js"></script>
    <script type="text/javascript" src="js/app/main/main.js"></script>
    <script type="text/javascript" src="js/app/layout/layout.js"></script>
    <script type="text/javascript" src="js/app/layout/services/Node.js"></script>
    <script type="text/javascript" src="js/app/layout/OverlayController.js"></script>
    <script type="text/javascript" src="js/app/layout/directives/optionmenu.js"></script>
    <script type="text/javascript" src="js/app/main/controllers/MainController.js"></script>
    <script type="text/javascript" src="js/app/main/controllers/ModuleController.js"></script>
    <script type="text/javascript" src="js/app/shared/services/ModuleService.js"></script>
    <script type="text/javascript" src="js/app/shared/directives/box.js"></script>
    <script type="text/javascript" src="js/app/shared/directives/container.js"></script>


</body>
</html>
